.loading{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
    max-width: 100%;
}
.loading >div{
    width: 18vmax;
    height: 18vmax;
    border-bottom: 5px solid rgb(177, 34, 34) ;
    border-radius: 50%;
    animation: loadingRoatet 800ms linear infinite;
}
@keyframes loadingRoatet {
    to{
        transform: rotateZ(-360deg);
    }
}