#footer{
    display: flex;
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(35,33,33);
    color: #fff;
    text-align: center;
}
.leftFooter{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
    margin: 10px auto;
   
}
.leftFooter > h4 {
    font: 300 1vmax 'roboto';
}
.leftFooter > p{
    font: 300 1vmax 'roboto';
}

.midFooter{
    width: 60%;
    text-align: center;
}
.midFooter > h1{
    font-size: 4vmax;
    color: #eb4034;
}
.midFooter > p {
    font: 300 1vmax 'roboto';
}
.rightFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.rightFooter > a{
    text-decoration: none;
    color: #fff;
    margin-top: 1vmax;
    font: 300 1vmax 'roboto';
}
.rightFooter > h4{
    font-size: 1.4vmax;
}